<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Another TODO list</title>
        <link rel="stylesheet" href='css/styles.css'>

    </head>

    <body>

        <div class='box' id='heading'>
            <h1><%=listTitle%></h1>
        </div>
        
        <div class='box'>
 
            <% newEl.forEach(function(item){ %>
                <form action='/delete' method="POST">
                    <div class='item'>
                        <!-- Adding onChange and value to tap into which item was checked-->
                        <input type="checkbox" name='checkbox' value='<%=item.name%>' onchange="this.form.submit()">
                        <p><%= item.name %></p>
                    </div>
                    <input type='hidden' name='listName' value='<%=listTitle%>'></input>
                </form>
            <% }) %>



            <form action='/' method='POST'>

                <input type="text" name='newItem' placeholder="TODO">
                <!-- Using button name and value to redirect where items are added-->
                <button type="submit" name='list' value= <%= listTitle %> > +</button> 
            </form>

        </div>
    



        
    </body>



</html>